<div class="form">
  <form [formGroup]="editForm">
    <div class="form-row" *ngFor="let column of dataColumns; let i = index">
      <nz-form-item class="form-row-item">
        <nz-form-label [nzFor]="column.field">{{ column.field }}</nz-form-label>
        <nz-form-control>
          <input
            nz-input
            type="text"
            [id]="column.field"
            [formControlName]="column.field"
          />
          <!-- <p *ngIf="!editForm.valid">Field cannot be empty!</p> -->
        </nz-form-control>
      </nz-form-item>
    </div>
    <button
      nz-button
      nzType="primary"
      [disabled]="!editForm.valid"
      (click)="handleSave()"
    >
      Save
    </button>
    <button nz-button nzType="primary" nzDanger (click)="handleCancel()">
      Cancel
    </button>
  </form>
</div>
